.gradle/
build/

# IntelliJ IDEA / JetBrains
*.iml
.idea/
out/

# OS
.DS_Store

# Rust target (ignore built native artifacts)
/native/target/

# In case an old copy remains in resources
/src/main/resources/native/libnative.dylib

